.category-dropdown-and-delete-icon{
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
}

.category-dropdown-and-delete-icon .delete-button{
    background-color: transparent;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.category-dropdown-and-delete-icon .delete-button img{
    width: auto;
    height: 100%;
    object-fit: contain;
}

.category-dropdown{
    display: flex;
    width: 320px;
    gap: 2px;
    flex-direction: column;
    
}

.category-drop-down-head{
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.category-drop-down-head p{
    font-size: var(--font-12);
    line-height: var(--line-height-18);
    font-weight: var(--font-weight-regular);
    color: var(--text-color);
    margin: 0;
}



.categor-drop-down-items{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
}

/* Scrollbar styles */
.categor-drop-down-items::-webkit-scrollbar {
    width: 3px; /* Thin scrollbar */
    height: 5px !important;
    background-color: #F0F0F0; /* Background color */
}

.categor-drop-down-items::-webkit-scrollbar-thumb {
    background-color: #595959; /* Scrollbar color */
    border-radius: 3px; /* Rounded corners for the scrollbar */
}

/* Hide the scrollbar arrows */
.categor-drop-down-items::-webkit-scrollbar-button {
    display: none; /* Hide top and bottom arrows */
}

.categor-drop-down-items.show-drop-down-items{
    max-height: 100%;
    width: 100%;
    box-sizing: border-box;
    height: 180px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.categor-drop-down-items p{
    padding: 10px;
    background-color: transparent;
    font-size: var(--font-12);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-18);
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0; 
}

.categor-drop-down-items p:hover{
    /* background: linear-gradient(to right, #4487C5, white); */
    background: linear-gradient(90deg, #4487C5 0%, rgba(68, 135, 197, 0.2) 100%);

    color: #fff;
}
