.SliderHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FDFDFD;
    box-shadow: 0px 1px 4px 0px #00000026;
    padding: 10px 20px;

}



.SliderHeadLeft{
    display: flex;
    align-items: center;
    gap: 5px;
}

.SliderHeadLeft h3{
    margin: 0;
    font-size: var(--font-15);
    line-height: var(-line-height-22);
    font-weight: var(--font-weight-medium);
}

.SliderHeadLeft img{
    cursor: pointer;
}

.SliderHeadRight{
    display: flex;
    align-items: center;
    gap: 20px;
}

.SliderHeadRight button{
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border: 1px solid var(--primary-color);
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    
}
