/* .Page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 84%;
  left: 260px;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
} */

.Page {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%; /* Make content width responsive */
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
}

.dashboard-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.dashboard-card1 {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.dashboard-card2 {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}
  
.dashboard-card h2 {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: #C61B1A;
}

.dashboard-card1 h2 {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: var(--primary-color);
}

.dashboard-card2 h2 {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: #71ee52;
}
  
.dashboard-card p {
  margin: 0;
  font-size: 16px;
  color: #666;
  font-weight: 600;
}

.dashboard-card1 p {
  margin: 0;
  font-size: 16px;
  color: #666;
  font-weight: 600;
}
 
.dashboard-card2 p {
  margin: 0;
  font-size: 16px;
  color: #666;
  font-weight: 600;
}

.AddBtn {
  width: 136px;
  height: 34px;
  gap: 10px;
  padding: 5px 10px 5px 10px;
  /* line-height: 18px; */
  line-height: 24px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  border: none !important;
  border-radius: 4px !important;
  font-weight: var(--font-weight-semi-bold);
  color: var(--containers-color);
  font-family: var(--font-family);
  background-color: var(--primary-color);
  font-size: var(--font-size-small);
}

/* Keyframes for move-in-right animation */
@keyframes moveInRight {
  0% {
    transform: translateX(100%);
    opacity: 0; /* Start fully transparent */
  }
  100% {
    transform: translateX(0);
    opacity: 1; /* Fully opaque */
  }
}

/* Add this class to trigger the animation */
.AddBtn.animate {
  animation: moveInRight 300ms ease-out forwards; /* Use forwards to keep the final state */
}


.ImportBtn {
  width: 95px;
  height: 34px;
  border: none !important;
  border-radius: 4px !important;
  padding: 5px 10px 5px 10px;
  gap: 10px;
  /* line-height: 18px; */
  line-height: 24px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-weight: var(--font-weight-medium);
  color: var(--text-color-opacity);
  font-family: var(--font-family);
  background-color: var(--btn-background-color);
  font-size: var(--font-size-small);
}

.ExportBtn {
  width: 92px;
  height: 34px;
  border: none !important;
  border-radius: 4px !important;
  padding: 5px 10px 5px 10px;
  gap: 10px;
  /* line-height: 18px; */
  line-height: 24px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-weight: var(--font-weight-medium);
  color: var(--text-color-opacity);
  font-family: var(--font-family);
  background-color: var(--btn-background-color);
  font-size: var(--font-size-small);
}

.FilterBtn {
  /* width: 138px; */
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px 5px 15px;
  gap: 5px;
  border: none;
  outline: none;
  border-radius: 4px;
  opacity: 0px;
  background: #666666;
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  line-height: 18px;
  /* text-align: left; */
  color: #FFFFFF;

}

.AddCatBtn {
  width: 105px;
  height: 28px;
  border: none !important;
  border-radius: 3px !important;
  margin-top: 40px;
  padding: 5px 10px 5px 10px;
  gap: 10px;
  line-height: 18px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: var(--font-weight-medium);
  background-color: var(--primary-color);
  color: var(--containers-color);
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  cursor: pointer;
}

.AddUserBtn {
  width: 105px;
  height: 28px;
  border: none !important;
  border-radius: 3px !important;
  /* margin-top: 40px; */
  padding: 5px 10px 5px 10px;
  gap: 10px;
  line-height: 18px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: var(--font-weight-medium);
  background-color: var(--primary-color);
  color: var(--containers-color);
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  /* font-weight: var(--font-weight-regular); */
  cursor: pointer;
}

.GenPasswordBtn {
  width: 119px;
  height: 25px;
  border: none !important;
  border-radius: 3px !important;
  padding: 5px 10px 5px 10px;
  gap: 10px;
  background: var(--primary-color-opacity);
  line-height: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: var(--font-weight-medium);
  /* background-color: var(--primary-color); */
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: var(--font-size-extra-small);
  cursor: pointer;
}