.tranding-now-body-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    gap: 10px;
    background-color: #FFFFFF;

    padding: 10px 30px;
}

.tranding-now-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.tranding-now-body-main-container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    /* padding: 10px 30px 30px 30px; */
    /* background-color: #FFFFFF; */
    gap: 10px;

}

.tranding-now-main-image-slider {
    display: flex;
    width: 70%;
    flex-grow: 1;
    align-items: center;
    /* height: 345px; */
    overflow: hidden;
    justify-content: center;
    background-color: #FDFDFD;
}

.tranding-now-slider-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    align-items: start;
    justify-content: start;
    overflow: hidden;

}


.tranding-now-slider {
    display: flex;
    width: 100%;
    height: 345px;
    transition: transform 0.5s ease;
}

.tranding-now-slide {
    min-width: 100%;
    /* height: 355px; */
    transition: opacity 0.5s ease;
    opacity: 0;
}

.tranding-now-slider-body-selected-images-slider {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 335px;
    flex-grow: 1;
    padding: 0px 0px;
    box-sizing: border-box;
}

.tranding-now-image-slider-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.tranding-now-slide.active {
    opacity: 1;
}



.close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 999;
}

.close-modal-btn img {
    width: auto;
    height: 100%;
    object-fit: contain;
}


.tranding-now-main-image {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.tranding-now-main-image-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    /* border: 1px dashed var(--border-color); */
    border: 1px dashed #595959;
    border-radius: 3px;
    cursor: pointer;
}

.tranding-now-pagination-dots {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    gap: 20px;
}

.pagi-dots {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-grow: 1;
}

.add-image-button-container {
    display: flex;
    width: max-content;
    box-sizing: border-box;
    align-items: center;
    justify-content: end;
}

.add-image-button-container button {
    width: max-content;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    color: #595959;
    background-color: transparent;
    border: 1px dashed #595959;
    border-radius: 25px;
    cursor: pointer;
}

.tranding-now-sub-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 30%;
    height: max-content;
    box-sizing: border-box;
    gap: 10px;
    background-color: #FDFDFD;
}

.tranding-now-sub-image-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 4px 0px #0000000D;
    cursor: pointer;
}

.sub-image-single-show {
    display: flex;
    position: relative;
    width: auto;
    height: 105px;
    box-sizing: border-box;
}

.sub-image-single-show img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.close-sub-image-btn {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #FDFDFD;
    border: 1px solid #595959;
    padding: 2px;
    display: flex;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.close-sub-image-btn img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.tranding-now-sub-image-item.remove-padding {
    padding: 0px;
}

.tranding-now-sub-image-item.add-padding {
    padding: 40px 0;
}

.tranding-now-sub-image-item .product-sub-upload-image {
    width: auto;
    height: 30px;
    object-fit: contain;
}

.tranding-now-sub-image-item .product-sub-image {
    width: auto;
    height: auto;
    object-fit: contain;
}